@{
    ViewBag.Title = "ITS";
}

<div class="jumbotron">
    <h1>Invoice Tracking System</h1>
    <p class="lead">ASP.NET web-app for INT444 assignment 4</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Lo-fi</h2>
        <p>
            Want some relaxing music to study too?
        </p>
        <p><a class="btn btn-default" href="https://www.youtube.com/watch?v=xrbrQhpvn8E">Lo-fi &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Mind trip</h2>
        <p>Click it... Just do it....</p>
        <p><a class="btn btn-default" href="https://www.youtube.com/watch?v=ZXsQAXx_ao0">Do it!! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>This one goes nowhere.... </p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
</div>