@{
    ViewBag.Title = "Homepage but not a localhost!";
}

<div class="jumbotron">
    <h1>Phil's new homepage</h1>
    <p class="lead">This section explains how this web app is for assignment 7 of Int422</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Assignment 7 on Azure</h2>
        <p><a class="btn btn-default" href="http://pahenning-wa2017a7.azurewebsites.net">A7 Azure</a></p>
    </div>
</div>