@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    32 Spooner street<br />
    Someplace, Downunder<br />
    <abbr title="Phone">P:</abbr>
    289.355.9690
</address>

<address>
    <strong>Support:</strong>   <a href="https://boulderchristina.files.wordpress.com/2013/11/not-my-problem.jpg">Support@InvoiceInquiries.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@InvoiceInquiries.com</a>
</address>