@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>LAST ASSIGNMENT!!!</h1>
    <p class="lead">Check out the published work but clicking the box below</p>
    <p><a href="http://pahenning-2017a9.azurewebsites.net/" target="_blank" class="btn btn-primary btn-lg">Live Azure &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Here some Lorum Ipsum</h2>
        <p>Fusce id tincidunt erat. Vestibulum ultricies augue quis orci dapibus, vitae pulvinar orci rutrum. Nullam eleifend magna magna, quis scelerisque mi tincidunt in. Nulla congue in ipsum id consectetur. Maecenas cursus vehicula elementum. In vel nulla vulputate, cursus leo a, congue libero. Curabitur et sodales nisi, pellentesque porttitor nisl. Morbi lobortis, lectus non dapibus pulvinar, ipsum lacus luctus purus, a cursus nulla est ut odio. Nullam sed eleifend orci. Sed et odio id enim hendrerit rutrum.</p>enable-migrations
    </div>
    <div class="col-md-4">
        <h2>And here's more!!!</h2>
        <p> Donec eu euismod diam. Vestibulum faucibus, metus nec pretium imperdiet, mi magna mattis odio, vitae aliquam nulla dolor a neque.</p>
    </div>
</div>